# ================= FRONTEND =================
node_modules/
frontend/node_modules/

# ================= BACKEND =================
backend/node_modules/

# ================= ENV FILES =================
.env
backend/.env

# ================= BUILD FILES =================
build/
frontend/build/

# ================= TESTING =================
coverage/

# ================= SYSTEM FILES =================
.DS_Store

# ================= LOG FILES =================
npm-debug.log*
yarn-debug.log*
yarn-error.log*

node_modules
.env
build
dist
*.log
backend/uploads
frontend/build
